body {
	
				/*background-color: #ffffff;*/
		    color: #4A525A;
		    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		    overflow: hidden;
			
}

#nav {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1000;
}

#nav a {
		border: 1px solid #999999;
    color: #999999;
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    text-decoration: none;
    background-color: #ffffff;
}

#console {
	width: 300px;
	background-color: #000;
	padding: 10px;
	color: #fff;
}	


#canvas {
	width:320px;
	position:relative;
}

#dev-info {
 overflow: auto;
 position: absolute;
}

#headtrackerMessageDiv {
	display: none;
}

#end {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1000;
		height:40px;
		width:40px;
		color: #999999;
}