* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html {
	background:#fff;
}

html, body {
	height: 100%;
}

#imgContainer {
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-align: center;
	background-image: url('logo.jpg');
	background-repeat: no-repeat;
	background-position: center center;
  background-size: 90%;
  display:block;
}

